<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="dashboard-main-content">
    <%= react_component 'DashboardMenu', data: navigation, request: request.path %>
    <div class="wrap-content">
      <div class="wrap-inner">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
