<div class="registerPage">
  <div class="container">
    <div class="formContainer">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :company, class: 'labelBg' %>
            <%= f.text_field :company, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :fullname, class: 'labelBg' %>
            <%= f.text_field :fullname %>
          </div>

          <div class="field">
            <%= f.hidden_field :doc_type, :value => 'RUC' %>
          </div>

          <div class="field">
            <%= f.label :doc_number, class: 'labelBg' %>
            <%= f.text_field :doc_number %>
          </div>

          <div class="field">
            <%= f.label :email, class: 'labelBg' %>
            <%= f.email_field :email %>
          </div>

          <div class="field">
            <%= f.label :password, class: 'labelBg' %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class: 'labelBg' %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: 'button buttonOrange' %>
          </div>

      <% end %>
      <div class="shareLinks">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
